%% coding: latin-1

%% 拓扑模型1
%% 采用多网关模式启动的拓扑模型
%% [{ServerTypeCode,AppList}]
%% ServerType 服务器类型  0:gctrl  1-69:gate  71:gdb  72:gworld  73:gmap  81:cdb  82:cworld  83:cmap

%% {{topo_mode,1},
%%     [
%%         {gctrl,[mlog_app,mnode_app,service_app,mdb_app,gworld_app,mweb_app,gmap_app,mews_app]},
%%         {gate,[mlog_app,mnode_app,service_app,mdb_app,role_app,gateway_app]}
%%     ]}.

%% 拓扑模型0
%% 采用单节点的拓扑模型
%%
{{topo_mode,0},
    [
        {gctrl,[mlog_app]}
    ]
}.

{{topo_mode,101},
    [
        {cctrl,[mlog_app]},
        {cworld,[mlog_app]}
    ]
}.



