%% coding: latin-1

%% game节点=0; 跨服节点=104
{topo_mode, 0}.
%% ServerType 服务器类型 {0:game, 80:center, 82:cworld}
{server_type, 0}.
%% server_ip 为游戏节点名中的ip
{topo_mode, 0}.

%{topo_nodes,
%    [
%        {0,"192.168.8.140",4444}
%    ]}.

{server_ip, "192.168.8.129"}.

%% gateway_ip 游戏网关对外ip, 不配置则使用server_ip
%% {gateway_ip, "192.168.8.129"}.
%% gateway_port 游戏网关端口: 8000-8300c
{gateway_port, 8031}.
%% mochiweb 端口: 9000-9300
{web_port,9020}.

%% 提供WEB服务的节点的信息,路由到Cworld就不用新起一个节点了
{web_server_info, {"127.0.0.1", 9300, "web_server_authkey"}}.
%% 提供WEB服务的节点 验证WEB请求 authkey 时间限制, center机不要配置
%% {web_verify, {"web_server_authkey", 10}}.

%%--------------------------------------------------------------------
%% 日期相关
%%--------------------------------------------------------------------
%% 开服日期 注意:配置时间格式必须正确，不足两位补0
{server_start_datetime, {{2018,08,21}, {12,00,00}}}.
%% 在此日期之前允许玩家注册
{allow_register_datetime, {{2049,12,31}, {23,59,59}}}.

%%--------------------------------------------------------------------
%% 代理&服务器相关
%%--------------------------------------------------------------------
%% 代理商字母缩写
{agent_code, "debug"}.
%% 代理商ID，最大3位, game<800, center/cworld>800
{agent_id, 1}.
%% 用于发日志的代理ID, 游戏服与agent_id一致，cworld的与其服务的游戏服agent_id一致
{log_agent_id, 1}.
%% 服务器ID，最大4位
{server_id, 1}.
%% 游戏中文名字
{game_name, "PaperGame"}.
%% 游戏名字母缩写
{game_code, "ppg"}.
%% 游戏项目编号
{game_id, 1}.

%%--------------------------------------------------------------------
%% 游戏服状态
%%--------------------------------------------------------------------
%% 是否是debug模式，php也会读取这个文件
{is_debug, true}.
%% 已合服次数
{merged_times, 0}.

%%--------------------------------------------------------------------
%% 游戏服负载
%%--------------------------------------------------------------------
%% 排队人数, 特殊玩家可以放行
{queue_num, 8000}.
%% 最大在线人数, 全部人排队
{max_online, 10000}.


%%--------------------------------------------------------------------
%% 网关信息
%%--------------------------------------------------------------------
%% 分线md5 密匙
{gateway_auth_key, "abcdefghijklmn"}.
%% 超级认证key，用于开发直接连接外网的机器。注:正式环境一般情况下都注释掉，需要再开。
%% {gateway_super_key, "abcdefghijklmn"}.
%% auth_key 超时时间，正式服配置为:30
{auth_key_timeout, 30}.

%% gateway acceptor连接池大小, 仅game节点需要
{acceptor_num,200}.
%% mochiweb acceptor连接池大小, cworld需要增高
{web_options, [{acceptor_pool_size, 20}]}.

%%--------------------------------------------------------------------
%% mgee_log
%%--------------------------------------------------------------------
{log_level, 4}.
{log_dir,"/data/logs/server"}.

%%--------------------------------------------------------------------
%% 跨服配置
%%--------------------------------------------------------------------
%%%% 服务器连接cookie
%%{cookie_extend, "Best!"}.
%%%% 普通游戏服是否链接跨服
%%{ccluster_switch, true}.
%%%% 9000001=agentid*10000+No.
%%{ccluster_ctrl, {802000180,'fzzly_center_1@127.0.0.1', 'fzzly_center_1_Best!'}}.

%%--------------------------------------------------------------------
%% 跨服配置
%%--------------------------------------------------------------------
%%%% 服务器连接cookie
%%{cookie_extend,"Best!"}.
%%{ccluster_switch, true}.%%普通游戏服是否链接跨服
%%{ccluster_ctrl, {801000180,'fzzly_center_1@192.168.8.129', 'fzzly_center_1_Best!'}}.%%9000001=agentid*10000+No.
%%%% mulog客户端
%%{mulog_switch, false}.
%%
%%{log_sql, true}.
%%
%%%% 内部登录IP白名单, 创角为内部号
%%{office_ip, []}.
%%
%%%% mochiweb白名单
%%{web_white_list,[]}.
%%--------------------------------------------------------------------
%% mbd的配置
%%--------------------------------------------------------------------
%% mulog sdk 连接相关配置
%%{mulog_config,{"127.0.0.1",60082,"mc_mulog_sdk"}}.
%% 传输开关控制
%%{mulog_switch,false}.

%% router机器的地址，腾讯的服务器注意配置为内网的,发微博用的
{router_url, "http://10.190.164.68"}.

{mysql, #{host => "127.0.0.1", port => 3306, user => "root", pass => "123456", db => "paper_game", pool => [{size, 20}, {max_overflow, 20}]}}.

{limit_num_per_sec,10}.
